.header {
  padding: 4px 0;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #eaeaea;
  .home-icon:hover {
    fill: red;
    transition: fill 0.4s ease;
  }
  & > * {
    flex: 1;
  }
  & > h1 {
    font-size: 24px;
    font-weight: bold;
    transition: color 0.4s ease;
    margin: 0;
    &:hover {
      color: red;
    }
  }
  .nav {
    width: 100%;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      li {
        border-radius: 4px;
        margin-left: 30px;
        font-size: 20px;
        align-self: center;
        transition: color 0.4s ease;
        &:first-child {
          margin-left: 0;
        }
        &:hover {
          color: red;
        }
      }
    }
  }
}
