@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.app {
  color: rgb(212, 212, 255);
  display: grid;
  font-family: monospace;
  place-content: center;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  h1 {
    font-weight: 300;
    font-size: 36px;
  }
  
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 24px;
    }
  }
}
